<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chatroom</title>
    <link rel="stylesheet" href="../css/index.css" type="text/css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
</head>
<body>
    <div id="container">
        <label id="ChatTitle">FengChat</label>
        <img id="logo" src="https://i1.wp.com/inews.gtimg.com/newsapp_match/0/6810757084/0" alt="" />
        <div id="status-box">服務狀況:<span id="status">-</span> / <span id="online">0</span> 人 , 在線 ^0^</div>
        <div id="content">
        </div>
        <div id="send-box">
            <form id="send-form">
                <input type="text" name="name" id="name" placeholder="暱稱">
                <input type="text" name="msg" id="msg" placeholder="請輸入文字....">
                    <input id="_button" type="submit" value="送出">
            </form>
            <div id="upload-btn-wrapper">
                <button id="_button">傳送圖片</button>
                <input type="file" onChange="upload()" accept="image/*" />
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var status = document.getElementById("status");
            var online = document.getElementById("online");
            var sendForm = document.getElementById("send-form");
            var content = document.getElementById("content");
 
            socket.on("connect", function () {
                status.innerText = "Connected.";
            });
 
            socket.on("disconnect", function () {
                status.innerText = "Disconnected.";
            });
 
            socket.on("online", function (amount) {
                online.innerText = amount;
            });
 
            socket.on("msg", function (d) {
                let now = new Date();
                let msgtem = d.msg;
                now = "["+now.getHours()+':'+ now.getMinutes()+"]";
                const div = document.getElementById('content');
                const msgBox = document.createElement("div")
                if(d.msg == undefined){
                    msgtem = "提醒:幹嘛不輸入文字ˋˊ";
                }
                msgBox.className = "chatlist";
                const chatin = document.createElement("div")
                chatin.className = "chatin";
                const headShot = document.createElement("img");
                headShot.className = "headShot";
                headShot.src = "https://i1.wp.com/inews.gtimg.com/newsapp_match/0/6810757084/0";
                const name = document.createElement("label");
                name.className = "name";
                const msg = document.createElement("span");
                const nameText = document.createTextNode(d.name+":");
                const msgtext = document.createTextNode(msgtem);
                msg.appendChild(msgtext);
                if(d.image != null){
                    const image = document.createElement("img");
                    image.className = "uploadImage";
                    image.src = d.image;
                    image.onload = function() {
                        div.scrollTop = div.scrollHeight+image.width;
                    };
                    msg.appendChild(image);
                }
                name.appendChild(nameText);
                chatin.appendChild(name);
                chatin.appendChild(msg);
                chatin.appendChild(headShot);
                msgBox.appendChild(chatin);
                content.appendChild(msgBox);

                div.scrollTop = div.scrollHeight;

            });

             //上傳圖片
            upload = () => {
            const sendForm = document.getElementById("send-form");
            let ok = true;
            let formData = {};
            let formChild = sendForm.children;
            let reader = new FileReader();
            const file = document.querySelector('input[type=file]').files[0];
            reader.onloadend = () => {
                formData["image"] = reader.result;
                if (ok) {
                    socket.emit("send", formData);
                    document.getElementById('msg').value = "";
                }
            }
            reader.readAsDataURL(file);
            for (let i=0; i< sendForm.childElementCount; i++) {
                let child = formChild[i];
                if (child.name !== "") {
                    var val = child.value;
                if (val === "" || !val ) {
                    if(child.id == 'name'){
                        ok = false;
                        child.classList.add("error");
                    }
                } else {
                    child.classList.remove("error");
                    formData[child.name] = val;
                        }
                    }   
                }
            }

 
            sendForm.addEventListener("submit", function (e) {
                e.preventDefault();
 
                var ok = true;
                var formData = {};
                var formChild = sendForm.children;
 
                for (var i=0; i< sendForm.childElementCount; i++) {
                    var child = formChild[i];
                    if (child.name !== "") {
                        var val = child.value;
                        if (val === "" || !val) {
                            ok = false;
                            child.classList.add("error");
                        } else {
                            child.classList.remove("error");
                            formData[child.name] = val;
                        }
                    }
                }
 
                if (ok) {
                    document.getElementById('msg').value = "";
                    socket.emit("send", formData);
                }
            });
        });
    </script>
</body>
</html>