<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>My Chatroom</title>
    <link rel="stylesheet" href="../css/index.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
</head>
<body>
    <div id="container">
        <label id="ChatTitle">FengChat</label>
        <img id="logo" src="https://i1.wp.com/inews.gtimg.com/newsapp_match/0/6810757084/0" alt="" />
        <label id="nameBlock" onclick="changeName()"><label id="name">訪客A</label> <i class="fas fa-angle-down"></i></label>
        <div id="status-box">服務狀況:<span id="status">-</span> / <span id="online">0</span> 人 , 在線 ^0^</div>
        <div id="content">
        </div>
    </div>
    <div id="msgContainer">
        <div id="send-box">
            <form id="send-form">
                <div id="submitBlock">
                    <div id="upload-btn-wrapper">
                        <button id="_button">上傳圖片 <i class="fas fa-rocket"></i></button>
                        <input id="msgImg" type="file" onChange="upload()" accept="image/*" />
                    </div>
                    <input id="_button" type="submit" value="傳送訊息">
                </div>
                    <input type="text" name="msg" id="msg" placeholder="請輸入文字....">
            </form>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var status = document.getElementById("status");
            var online = document.getElementById("online");
            var sendForm = document.getElementById("send-form");
            var content = document.getElementById("content");
 
            socket.on("connect", function () {
                status.innerText = "Connected.";
            });
 
            socket.on("disconnect", function () {
                status.innerText = "Disconnected.";
            });
 
            socket.on("online", function (amount) {
                online.innerText = amount;
            });
 
            socket.on("msg", function (d) {
                let now = new Date();
                let msgtem = d.msg;
                now = "["+now.getHours()+':'+ now.getMinutes()+"]";
                const div = document.getElementById('content');
                const msgBox = document.createElement("div")
                if(d.msg == ""){
                    msgtem = "提醒:幹嘛不輸入文字ˋˊ";
                }
                msgBox.className = "chatlist";
                const chatin = document.createElement("div")
                chatin.className = "chatin";
                const headShot = document.createElement("img");
                headShot.className = "headShot";
                headShot.src = document.getElementById('logo').src;
                const name = document.createElement("label");
                name.className = "name";
                const msg = document.createElement("span");
                const nameText = document.createTextNode(d.name+":");
                const msgtext = document.createTextNode(msgtem);
                msg.appendChild(msgtext);
                if(d.image != null){
                    const image = document.createElement("img");
                    image.className = "uploadImage";
                    image.src = d.image;
                    image.onload = function() {
                        div.scrollTop = div.scrollHeight+image.width;
                    };
                    msg.appendChild(image);
                }
                name.appendChild(nameText);
                chatin.appendChild(name);
                chatin.appendChild(msg);
                chatin.appendChild(headShot);
                msgBox.appendChild(chatin);
                content.appendChild(msgBox);

                div.scrollTop = div.scrollHeight;

            });

            //改名
            changeName = () => {
                Swal.fire({
                    title: 'input your username',
                    input: 'text',
                    inputAttributes: {
                        autocapitalize: 'off'
                    },
                    showCancelButton: true,
                    confirmButtonText: 'submit',
                    showLoaderOnConfirm: true,
                    preConfirm: (login) => {
                        var name = document.getElementById("name");
                        name.innerText = login ;
                        }
                    })
            }

             //上傳圖片
            upload = () => {
                const sendForm = document.getElementById("send-form");
                let ok = true;
                let formData = {};
                let reader = new FileReader();
                var msg = document.getElementById('msg');
                var name= document.getElementById('name');
                const file = document.getElementById('msgImg').files[0];
                reader.onloadend = () => {
                    formData["image"] = reader.result;
                    if (ok) {
                        socket.emit("send", formData);
                        document.getElementById('msg').value = "";
                    }
                }
                reader.readAsDataURL(file);
                msg.classList.remove("error");
                formData["msg"] = msg.value; 
                formData["name"] = name.innerText; 
            }


            uploadShot = () => {
                let reader = new FileReader();
                const file = document.getElementById('headShotUpload').files[0];
                reader.onloadend = () => {
                    uploadBoolean = true;
                    document.getElementById('logo').src = reader.result;
                }
                reader.readAsDataURL(file)
            }


 
            sendForm.addEventListener("submit", function (e) {
                e.preventDefault();
                var ok = true;
                var formData = {};
                var name= document.getElementById('name');
                var msg = document.getElementById('msg');
                if(msg.value === "" || !msg.value){
                    ok = false;
                    msg.classList.add("error");
                }else{
                    msg.classList.remove("error");
                    formData["msg"] = msg.value; 
                }
                formData["name"] = name.innerText; 
 
                if (ok) {
                    document.getElementById('msg').value = "";
                    socket.emit("send", formData);
                }
            });
        });
    </script>
</body>
</html>